<!doctype html>
<html lang=" ">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSRF Token -->
    <meta name="csrf-token" content="">
    <!-- title -->
    <title>Chat Box</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <!-- Styles -->
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!-- <link href="/assets/fontawesome/css/fontawesome.min.css" rel="stylesheet" id="fontawesome"> -->
    <!-- Animation CSS -->
    <link href="/chatbox/css/animate.css" rel="stylesheet">
    <link href="/chatbox/css/custom.css" rel="stylesheet" id="style">
    <!-- Theme light dark version CSS -->
    <link href="/chatbox/css/style.css" rel="stylesheet">
    <link href="/chatbox/css/style-light.css" id="maintheme" rel="stylesheet">
    <!-- color CSS you can use different color css from css/colors folder -->
    <!-- We have chosen the skin-blue (blue.css) for this starter
                page. However, you can choose any other skin from folder css / colors .
 -->
    <link href="/chatbox/css/colors/green.css" id="theme" rel="stylesheet">
    <!-- Emoji One JS -->
    <link rel="stylesheet" href="/chatbox/smiley/assets/sprites/emojione.sprites.css" />
    <script src="/chatbox/smiley/js/emojione.min.js"></script>
    <script type="text/javascript">
        // #################################################
        // # Optional

        // default is PNG but you may also use SVG
        emojione.imageType = 'png';
        emojione.sprites = false;

        // default is ignore ASCII smileys like :) but you can easily turn them on
        emojione.ascii = true;

        // if you want to host the images somewhere else
        // you can easily change the default paths
        emojione.imagePathPNG = "/chatbox/smiley/assets/png/";
        emojione.imagePathSVG = "/chatbox/smiley/assets/svg/";

        // #################################################
    </script>
</head>

<body>
    <div class="container">
        <div id="wchat">
            <div class="wchat-wrapper wchat-wrapper-web wchat-wrapper-main">
                <div tabindex="-1" class="wchat two">
                    <div class="drawer-manager">
                        <span class="pane wchat-one"></span>
                        <span class="pane wchat-two">
                            <div id="get-error">

                            </div>
                            <div id="showErrorModal" data-toggle="modal" data-target=".bs-example-modal-sm">
                            </div>
                            <div class="pane pane-intro" id="pane-intro" style="visibility: visible">
                                <div class="intro-body">
                                    <div class="intro-image" style="opacity: 1; transform: scale(1);"></div>
                                    <div class="intro-text-container" style="opacity: 1; transform: translateY(0px);">
                                        <h1 class="intro-title">Welcome to Just-talk</h1>
                                        <div class="intro-text">No Conversation sync. Please search users and
                                            start chat.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="uploader" style="display: none">
                                <p>Your browser doesn't have Flash, Silverlight or HTML5 support.</p>
                            </div>

                        </span>
                        <span class="pane wchat-three" style="transition: all 0.3s ease;">
                            <span class="flow-drawer-container"
                                style="transform: translateX(0px);border: 1px solid rgba(0, 0, 0, .08);display:block;">
                                <div class="drawer drawer-info">
                                    <header class="wchat-header">
                                        <div class="header-close">
                                            <button><span class="icon icon-x  ti-close"></span></button>
                                        </div>
                                        <div class="header-body">
                                            <div class="header-main">
                                                <div class="header-title">Profile info</div>
                                            </div>
                                        </div>
                                    </header>
                                    <div class="drawer-body" id="userProfile" data-list-scroll-container="true">
                                        <!--Here Profile comes dynamically-->
                                    </div>
                                </div>
                            </span>
                        </span>
                    </div>

                    <!-- .chat-left-panel -->
                    <div id="side" class="wchat-list wchat-one chat-left-aside left">
                        <div class="open-panel"><i class="ti-angle-right"></i></div>
                        <div class="chat-left-inner">
                            <div id="my-profile" style="display: none;">
                            </div>
                            <div id="contact-list">
                                <header class="wchat-header wchat-chat-header top">

                                    <div class="chat-avatar">
                                        <div class="avatar icon-user-default" style="height: 40px; width: 40px;">
                                            <div class="avatar-body userimage">
                                                <a href="/ownprofile">
                                                    <img src="" alt="Img" class="avatar-image is-loaded bg-theme"
                                                        width="100%">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chat-body">
                                        <div class="chat-main">
                                            <a href="/ownprofile">
                                                <h2 class="chat-title" dir="auto"><span
                                                        class="wchatellips personName"><%= session.name %></span></h2>
                                            </a>
                                            <input type="hidden" id='id_user1' value='<%= session._id%>'>
                                        </div>
                                    </div>
                                    <div class="wchat-chat-controls">
                                        <div class="menu menu-horizontal">
                                            <div class="menu-item active dropdown pull-right">
                                                <button class="icon dropdown-toggle" data-toggle="dropdown"
                                                    href="#"><span class="font-19"><i
                                                            class="icon icon-options-vertical"></i></span></button>
                                                <ul class="dropdown-menu dropdown-user animated flipInY">
                                                    <li id="logout"><i class="fa fa-power-off"></i> Logout
                                                    </li>
                                                </ul>
                                                <!-- /.dropdown-user -->
                                            </div>
                                            <div class="menu-item right-side-toggle"><button
                                                    class="icon ti-settings font-20"
                                                    title="Attach"></button><span></span>
                                            </div>
                                        </div>
                                    </div>
                                </header>
                                <div class="form-material">
                                    <form id="searchboxForm" action="">
                                        <input class="form-control p-lr-20 live-search-box search_bg" id="searchbox"
                                            name="searchkey" type="text" placeholder="Search By Name or mobile number">
                                    </form>

                                </div>
                                <div class="contact-drawer">
                                    <ul class="chatonline drawer-body contact-list" id="display"
                                        data-list-scroll-container="true" style="display: block;">
                                        <!-- here user's recent sidebar comes dynamically -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .chat-left-panel -->
                    <!-- .chat-right-panel -->

                    <div tabindex="-1" id="main right" class="pane wchat-chat wchat-two chat-right-aside right"
                        style="visibility: hidden;">
                        <input type="hidden" id='id_user2' value=''>
                        <div class="wchat-chat-tile"></div>
                        <header class="wchat-header wchat-chat-header top2" data-user="">
                            <button class="icon m-r-5 hidden-sm hidden-md hidden-lg open-panel" href="#"><span
                                    class="font-19"><i class="icon ti-arrow-left"></i></span></button>
                            <div class="chat-avatar" id="launchProfile">
                                <div class="avatar icon-user-default" style="height: 40px; width: 40px;">
                                    <div class="avatar-body userimage profile-picture">
                                        <img src="storage/user_image/Kristina.jpg" alt="img"
                                            class="avatar-image is-loaded bg-theme" width="100%">
                                        &nbsp;
                                    </div>
                                </div>
                            </div>
                            <div class="chat-body">
                                <div class="chat-main">
                                    <h2 class="chat-header-title" dir="auto"><span
                                            class="wchatellips personName">&nbsp;</span>
                                    </h2>
                                </div>
                                <div class="chat-status wchatellips" id="typing_on">
                                    <!--last seen today at 8:52 PM-->
                                </div>
                            </div>
                            <div class="wchat-chat-controls">
                                <div class="menu menu-horizontal">
                                    <div class="menu-item active pull-right">
                                        <i class="fa fa-phone font-24" aria-hidden="true"></i>
                                    </div>
                                    <div class="menu-item active pull-right">
                                        <a href="javascript:videoCall()"><i class="fa fa-video-camera font-24"
                                                aria-hidden="true"></i></a>
                                    </div>

                                    <div class="menu-item active dropdown pull-right">
                                        <button class="icon dropdown-toggle" data-toggle="dropdown" href="#">
                                            <span class="font-19">
                                                <i class="icon icon-options-vertical"></i>
                                            </span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-user animated flipInY">
                                            <li>
                                                <a href="javascript:void(0)" onclick="javascript:blockUser();">
                                                    <i class="ti-user"></i>
                                                    Block user
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" onclick="javascript:emailChat();">
                                                    <i class="ti-wallet"></i>
                                                    Email This Chat
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" onclick="javascript:saveChat();">
                                                    <i class="icon-doc"></i>
                                                    Save Chat
                                                </a>
                                            </li>
                                            <!-- /.dropdown-user -->
                                    </div>
                                    <div class="menu-item right-side-toggle hidden-xs hidden">
                                        <button class="icon ti-settings font-20" title="Attach"></button>
                                        <span>

                                        </span>
                                    </div>
                                </div>
                            </div>
                        </header>

                        <div class="wchat-body wchat-chat-tile-container" style="background-size: cover;">
                            <div>
                                <span>
                                    <div class="scroll-down"
                                        style="transform: scaleX(1) scaleY(1); opacity: 1; visibility:hidden;">
                                        <span class="ti-angle-down"></span>
                                    </div>
                                </span>
                                <div class="wchat-chat-msgs wchat-chat-body lastTabIndex" tabindex="0">
                                    <div class="wchat-chat-empty"></div>
                                    <div class="message-list">
                                        <div class="chat-list" id="resultchat">
                                            <!--Here content comes dynamically -->
                                            <!-- all chats of a particular user comes here dynamically -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="wchat-filler" style="height: 0px;"></div>
                        <footer tabindex="-1" class="wchat-footer wchat-chat-footer">
                            <div id="chatFrom">
                                <!--TextArea Dinamic -->
                            </div>
                            <div class="wchat-box-items-positioning-container">
                                <div class="wchat-box-items-overlay-container">
                                    <div style="display: none" class="target-emoji">
                                        <div class="smiley-panel">
                                            <!-- Nav tabs -->
                                            <ul class="nav customtab2 nav-tabs menu-tabs" role="tablist"
                                                style="padding: 0;">
                                                <li role="presentation" class="menu-item active"><a href="#people"
                                                        aria-controls="people" role="tab" data-toggle="tab"
                                                        aria-expanded="true"><i class="ti-face-smile"></i></a></li>
                                                <li role="presentation" class="menu-item"><a href="#nature"
                                                        aria-controls="nature" role="tab" data-toggle="tab"
                                                        aria-expanded="false"><i class="ti-gallery"></i></a>
                                                </li>
                                                <li role="presentation" class="menu-item"><a href="#food"
                                                        aria-controls="food" role="tab" data-toggle="tab"
                                                        aria-expanded="false"><i class="fa fa-cutlery"></i></a>
                                                </li>
                                                <li role="presentation" class="menu-item"><a href="#activity"
                                                        aria-controls="activity" role="tab" data-toggle="tab"
                                                        aria-expanded="false"><i class="ti-basketball"></i></a>
                                                </li>
                                                <li role="presentation" class="menu-item"><a href="#travel"
                                                        aria-controls="travel" role="tab" data-toggle="tab"
                                                        aria-expanded="false"><i class="fa fa-car"></i></a></li>
                                                <li role="presentation" class="menu-item"><a href="#objects"
                                                        aria-controls="objects" role="tab" data-toggle="tab"
                                                        aria-expanded="false"><i class="ti-light-bulb"></i></a>
                                                </li>
                                                <li role="presentation" class="menu-item"><a href="#symbols"
                                                        aria-controls="symbols" role="tab" data-toggle="tab"
                                                        aria-expanded="false"><i class="ti-heart"></i></a></li>
                                                <li role="presentation" class="menu-item"><a href="#flags"
                                                        aria-controls="flags" role="tab" data-toggle="tab"
                                                        aria-expanded="false"><i class="ti-flag-alt"></i></a>
                                                </li>
                                            </ul>
                                            <!-- Tab panes -->
                                            <div class="tab-content" style="margin: 0;text-align: center;">
                                                <div role="tabpanel" class="tab-pane fade active in" id="people">



                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="mentions-positioning-container"></span>
                        </footer>
                        <span></span>
                    </div>
                    <!-- .chat-right-panel -->
                </div>
            </div>
        </div>


        <!-- .right-sidebar -->
        <div class="right-sidebar">
            <div class="slimscrollright">
                <div class="rpanel-title"> Theme Modify<span><i class="ti-close right-side-toggle"></i></span>
                </div>
                <div class="r-panel-body">
                    <ul>
                        <li><b>Layout Options</b></li>

                    </ul>
                    <ul id="mainthemecolors" class="m-t-20">
                        <li><b>Theme (Light/Dark)</b></li>
                        <li><a href="javascript:void(0)" maintheme="style-light" class="light-theme working">1</a></li>
                        <li><a href="javascript:void(0)" maintheme="style-dark" class="dark-theme">2</a></li>
                    </ul>
                    <ul id="themecolors" class="m-t-20">
                        <li><b>With Color Effect</b></li>
                        <li><a href="javascript:void(0)" theme="default" class="default-theme">1</a></li>
                        <li><a href="javascript:void(0)" theme="green" class="green-theme">2</a></li>
                        <li><a href="javascript:void(0)" theme="gray" class="yellow-theme">3</a></li>
                        <li><a href="javascript:void(0)" theme="blue" class="blue-theme">4</a></li>
                        <li><a href="javascript:void(0)" theme="purple" class="purple-theme working">5</a></li>
                        <li><a href="javascript:void(0)" theme="megna" class="megna-theme">6</a></li>
                    </ul>

                </div>
            </div>
        </div>
        <!-- /.right-sidebar -->

        <!-- Media Uploader -->
        <!--This div for modal light box chat box image-->
        <div id="lightbox" style="display: none;">
            <p>
                <img src="/chatbox/plugins/images/close-icon-white.png" width="30px" style="cursor: pointer" />
            </p>
            <div id="content">
                <img src="#" />
            </div>
        </div>
        <!--This div for modal light box chat box image-->


    </div>
</body>
<script src="/assets/jquery/jquery-1.11.1.min.js"></script>
<!--- Popper.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<!-- here we are doin client socket connection -->
<script src="/socket.io/socket.io.js"></script>
<!-- <script src="/socket/chat.js"></script> -->
<script src="/ajax/ajax.js"></script>

<!-- jQuery -->
<script src="/chatbox/plugins/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->

<!-- Custom Theme JavaScript -->
<script src="/chatbox/js/custom.js"></script>
<!--Style Switcher -->
<script src="/chatbox/plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>
<!--Style Switcher -->
<!--ChatJs -->
<script type="text/javascript" src="/chatbox/chatjs/lightbox.js"></script>
<script type="text/javascript" src="/chatbox/chatjs/inbox.js"></script>
<script type="text/javascript" src="/chatbox/chatjs/custom.js"></script>
<!--ChatJs-->
<script>
    // this function is called on keypress on search box in chat room
    $('#searchbox').keyup(function () {
        var ajax = new Ajax();
        var urlData = ajax.create_url_data("searchboxForm");
        // send request to ChatboxController
        ajax.processPOST("/usersearch", urlData, postSearchFunction);
    });
    // this makes sidebar of user with searchkey data
    function postSearchFunction(res) {
        let list = "";
        let result = res.result;
        for (var i = 0; i < result.length; i++) {
            list += "<li class='person chatboxhead active' value='" + result[i]._id + "' id='" + result[i]._id + "' data-chat='" + result[i]._id + "'" +
                "href='javascript:void(0)'" +
                "onclick=\"javascript:chatWith1('" + result[i].name + "','" + result[i]._id + "','deven.jpg','Online')\">" +

                "<a href='javascript:void(0)'>" +
                "<span class='userimage profile-picture min-profile-picture'><img " +
                "src='" + result[i].profile_pic + "' alt='Img'" +
                "class='avatar-image is-loaded bg-theme' width='100%'></span>" +
                "<span>" +
                "<span class='bname personName'>" + result[i].name + "</span>" +
                "<span class='personStatus'><span class='time Online'><i " +
                "class='fa fa-circle'" +
                "aria-hidden='true'></i></span></span> " +
                "<span class='count'><span " +
                "class='icon-meta unread-count'>2</span></span><br>" +
                "<small class='preview'><span class='Online'>Online</span></small>" +
                "</span>" +
                "</a >" +
                "</li >";
        }
        if ($("#searchbox").val() == "") {
            // this function called when searchBox becomes empty
            // and loads the sidebar recent users
            sidebarRecentUser();
        }

        if (list == "") {
            $(".chat-right-aside").css({ 'visibility': 'hidden' });
            $("#pane-intro").css({ 'visibility': 'visible' });
            $("#display").html("<p>No account found with this number or name</p>").css("color", "red");

        }
        else
            $("#display").html(list);
    }
    // after clicking on user it creates the chat room of the user 
    function chatWith1(name_user2, id_user2, img_user2, status_user2) {
        chatWith(name_user2, id_user2, img_user2, status_user2);
        messageLoad(id_user2);
    }
    // it loads the chats of the user
    function messageLoad(id_user2) {
        var id_user1 = $("#id_user1").val();
        var id_user2 = $("#id_user2").val();
        var ajax = new Ajax();
        var urlData = "id_user1=" + id_user1 + "&id_user2=" + id_user2;
        ajax.processPOST("/fetchMessage", urlData, postmessageLoad);
    }
    function postmessageLoad(res) {
        var id_user2 = $("#id_user2").val();
        var message_content = '<div id="chatbox_' + id_user2 + '" class="chat chatboxcontent active-chat"' +
            'data-chat="person_' + id_user2 + '" client="' + id_user2 + '">';

        for (var i = 0; i < res.result.length; i++) {
            if (res.result[i].id_user1 == id_user2) {
                message_content +=
                    '<div class="col-xs-12 p-b-10">' +
                    '<div class="chat-body">' +
                    '<div class="chat-text">' +
                    '<input type="hidden" name="message_object_id" id=' + res.result[i]._id + ' value=\'' + res.result[i]._id + '\'>' +
                    '<p>' + res.result[i].message + '</p >' +
                    '<b>' + res.result[i].time + '</b>' +
                    '</div >' +
                    '</div >' +
                    '</div >';
            }
            else {
                message_content +=
                    '<div class="col-xs-12 p-b-10 odd">' +
                    '<div class="chat-body">' +
                    '<div class="chat-text">' +
                    '<input type="hidden" name="message_object_id" id=' + res.result[i]._id + ' value=\'' + res.result[i]._id + '\'>' +
                    '<p>' + res.result[i].message + '</p>' +
                    '<b>' + res.result[i].time + '</b>' +
                    '<span class="msg-status msg-mega"><i' +
                    'class="fa fa-check"></i></span>' +
                    '</div >' +
                    '</div >' +
                    '</div >';
            }
        }
        message_content += '</div >';
        $("#resultchat").html(message_content);
        // this method is defined in asset/inbox.js
        scrollDown();
    }
    // save message to server
    function saveMessageToServer(message) {
        var id_user1 = $("#id_user1").val();
        var id_user2 = $("#id_user2").val();
        var ajax = new Ajax();
        var urlData = "id_user1=" + id_user1 + "&id_user2=" + id_user2 + "&message=" + message;
        // it storesa the data to FriendMessageController.js@storeMessage()
        ajax.processPOST("/storeMessage", urlData, postsaveMessageToServer);
    }

    // this function's work is to save mesaage to the server
    // this function is called from public/chatbox/chatjs/inbox.js 
    // in function clickTosendMessage() and function checkChatBoxInputKey()

    var socket = io.connect('http://localhost:3000');
    // it will redirect to video call page
    function videoCall() {
        var id_user1 = $("#id_user1").val();
        var id_user2 = $("#id_user2").val();
        // it opens videochat window
        let url = "id_user1=" + id_user1 + "&id_user2=" + id_user2 + "&page=0";
        window.open("/inVideoCall?" + url);
        // send request to user through socket to join video call
        socket.emit('video call user1 initiate', {
            id_user1: id_user1,
            id_user2: id_user2,
        });
    }
    // opens video chat window for incomming video chat
    socket.on("open video call window user2", function (data) {
        // it opens videochat window
        let url = "id_user1=" + data.id_user1 + "&id_user2=" + data.id_user2 + "&page=1";
        window.open("/inVideoCall?" + url);
    });
    function postsaveMessageToServer(res) {
        // alert(res.result._id);
        var id_user1 = $("#id_user1").val();
        var id_user2 = $("#id_user2").val();
        $("#" + res.result._id).val(res.result._id);
        // emit event
        socket.emit('sending_message', {
            _id: res.result._id,
            message: message,
            id_user1: id_user1,
            id_user2: id_user2
        });
    }

    // listenevent
    socket.on('receiving_message', function (data) {
        var message_content =
            '<div class="col-xs-12 p-b-10">' +
            '<div class="chat-body">' +
            '<div class="chat-text">' +
            '<input type="hidden" name="message_object_id" id=\'' + data._id + '\' value=\'' + data._id + '\'>' +
            '<p>' + data.message + '</p >' +
            '<b>' + (new Date()).toISOString() + '</b>' +
            '</div >' +
            '</div >' +
            '</div >';
        $("#resultchat").append(message_content);
        // this method is defined in asset/inbox.js
        scrollDown();
    });

    // it shows that user is typing to another user
    //  when key pressed in text box
    function addTyping() {
        var id_user2 = $("#id_user2").val();
        socket.emit('typing_on', {
            id_user2: id_user2
        });
    }
    socket.on('typing_on', function (data) {
        $("#typing_on").html("<p id='display_typing_on'> typing...</p>");
    });
    // it removes the user typing status on user chat
    // when user press back key
    function removeTyping() {
        var id_user2 = $("#id_user2").val();
        socket.emit('typing_off', {
            id_user2: id_user2
        });
    }
    socket.on('typing_off', function (data) {
        $("#display_typing_on").remove();
    });


    // Fired upon disconnection.
    // socket.on('disconnect', (reason) => {
    // if (reason === 'io server disconnect') {
    //     // the disconnection was initiated by the server, you need to reconnect manually
    //     socket.connect();
    // }
    // else the socket will automatically try to reconnect
    // });


    // sending logout request to server
    $('#logout').on('click', function () {
        var ajax = new Ajax();
        var urlData = "";
        ajax.processPOST("/logout", urlData, postLogoutFunction);
    });
    // after successful logout open the login page
    function postLogoutFunction(res) {
        if (res.status == 200)
            window.open("/userAuth", "_self");
        else
            alert("something went wrong on session destroyed");
    }

    socket.on('Added', function (data) {
        // alert(data);
    });
    // here we are register with socket
    var id_user1 = $("#id_user1").val();
    socket.emit('Add user to socket', id_user1);

    // loding sidebar recentently messaged users 
    $(document).ready(function () {
        sidebarRecentUser();
    });

    function sidebarRecentUser() {
        var id_user1 = $("#id_user1").val();
        var ajax = new Ajax();
        var urlData = "id_user1=" + id_user1;
        // send request to SidebarRecentUser controller
        ajax.processPOST("/sidebarRecentUser", urlData, postFunction);
    }
    // here getting data and making sidebar user's list
    function postFunction(res) {
        let list = "";
        let result = res.result;
        for (var i = 0; i < result.length; i++) {
            list += "<li class='person chatboxhead active' value='" + result[i]._id + "' id='" + result[i]._id + "' data-chat='" + result[i]._id + "'" +
                "href='javascript:void(0)'" +
                "onclick=\"javascript:chatWith1('" + result[i].name + "','" + result[i]._id + "','deven.jpg','Online')\">" +

                "<a href='javascript:void(0)'>" +
                "<span class='userimage profile-picture min-profile-picture'><img " +
                "src='" + result[i].profile_pic + "' alt='Img'" +
                "class='avatar-image is-loaded bg-theme' width='100%'></span>" +
                "<span>" +
                "<span class='bname personName'>" + result[i].name + "</span>" +
                "<span class='personStatus'><span class='time Online'><i " +
                "class='fa fa-circle'" +
                "aria-hidden='true'></i></span></span> " +
                "<span class='count'><span " +
                "class='icon-meta unread-count'>2</span></span><br>" +
                "<small class='preview'><span class='Online'>Online</span></small>" +
                "</span>" +
                "</a >" +
                "</li >";
        }
        if (list == "") {
            $("#display").html("<p>plz. search user and start conversation.</p>").css("color", "red");;
        }
        else
            $("#display").html(list);
    }
</script>

</html>