<html>

<head>
    <title> Todo list</title>
</head>
<link rel="stylesheet" href="" />

<body>
    <div id="Todo-table">
        <form action="" id="formId">
            <input type="text" name="item" placeholder="add new item ...">
            <button type="button" id="addbutton">Add item</button>
        </form>
    </div>

    <ul>
        <% for(var i = 0; i < todos.length; i++) { %>
        <li> <%= todos[i].item %></li>
        <% } %>
    </ul>
</body>
<script src="assets/jquery/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
<script src="javascripts/ajax.js"></script>
<script>
    $('#addbutton').on('click', function () {
        var ajax = new Ajax();
        var urlData = ajax.create_url_data("formId");
        ajax.processGET("/todoGET", urlData, postFunction);
    });

    function postFunction(data) {
        alert(data['item']);
        $("ul").append("<li>" + data['item'] + "</li>");
    }
</script>

</html>